:root {
  color-scheme: only light;

  font-family:
    "Jost",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;

  color: #3a2e4d;
  background: #fff8f3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  margin: 0;
  padding: 0;

  width: 100%;
  min-height: 100%;
  color-scheme: light;
  background: #fff8f3;

  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  width: 100%;
  min-height: 100vh;

  background: #fff8f3;
}

#root {
  width: 100%;
  min-height: 100vh;
}
